<!DOCTYPE html>
<html>
	<head>
         {% load staticfiles %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href={% static "layui/css/layui.css" %} />
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">

            <ul class="layui-nav">
                <li class="layui-nav-item">
                    <a href="{% url 'result' %}">Search</a>
                </li>

                    <li class="layui-nav-item">
                        <a href=""><img src='{{head_imgpath}}' class="layui-nav-img">欢迎：{{ request.session.user_name }}</a>
                    </li>

                    <li class="layui-nav-item">
                         <a href="/logout/">注销</a>
                    </li>
            </ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<ul class="layui-nav layui-nav-tree">
						<li class="layui-nav-item"><a href="/personDate/">个人资料</a></li>
						<li class="layui-nav-item"><a href="/collection/">我的收藏</a></li>
						<li class="layui-nav-item"><a href="/searchHistory/">我的搜索记录</a></li>
						<li class="layui-nav-item layui-this"><a href="/dataAnalysis/">数据分析</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="layui-body"style="padding-top: 60px;background: #F5F5F5;" >
            <div id="container" style="height: 50%;width: 100%"></div>
            <div id="container_hot" style="height: 50%;width: 100%"></div>
	</div>
		<script src={% static "layui/layui.js" %}></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
       <script type="text/javascript">

        var mysearch_cate={{ mysearch_cate|safe}}
        var mysearch_num={{ mysearch_num|safe}}
        var hotsearch_cate={{ hotsearch_cate|safe}}
        var hotsearch_num={{ hotsearch_num|safe }}
		var dom = document.getElementById("container");
		var dom_hot = document.getElementById("container_hot");

		var myChart = echarts.init(dom);
		var myChart_hot = echarts.init(dom_hot);
		var app = {};


		option = null;
		app.title = '坐标轴刻度与标签对齐';

		option = {
		    title:{
		        text:"我的搜索",

                padding:[15,0,100,500]

            },
			color: ['#3398DB'],
			tooltip : {
				trigger: 'axis',
				axisPointer : {            // 坐标轴指示器，坐标轴触发有效
					type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis : [
				{
					type : 'category',
					data : mysearch_cate,
					axisTick: {
						alignWithLabel: true
					}
				}
			],
			yAxis : [
				{
					type : 'value'
				}
			],
			series : [
				{
					name:'直接访问',
					type:'bar',
					barWidth: '60%',
					data:mysearch_num
				}
			]
		};
		;
		option_hot = {
		    title:{
		        text:"热门热搜",

                padding:[15,0,100,500]
            },
			color: ['#3398DB'],
			tooltip : {
				trigger: 'axis',
				axisPointer : {            // 坐标轴指示器，坐标轴触发有效
					type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis : [
				{
					type : 'category',
					data : hotsearch_cate,
					axisTick: {
						alignWithLabel: true
					}
				}
			],
			yAxis : [
				{
					type : 'value'
				}
			],
			series : [
				{
					name:'直接访问',
					type:'bar',
					barWidth: '60%',
					data:hotsearch_num
				}
			]
		};
		;
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}

        if (option_hot && typeof option === "object") {
			myChart_hot.setOption(option_hot, true);
		}
       </script>
	</body>
</html>
