<!DOCTYPE html>
<html>
	<head>
         {% load staticfiles %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href={% static "layui/css/layui.css"  %}/>
         <style>
            .loginout{
               position:absolute;
               right:0;
               top:0;
               width:00px;
               height:100%;
               line-height:60px;
               text-align:center;
               color:#009688;
               font-size:16px
            }


        </style>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
            <ul class="layui-nav">
                <li class="layui-nav-item">
                    <a href="/index/">Search</a>
                </li>

                    <li class="layui-nav-item">
                        <a href=""><img src="{% static "image/head.jpg" %}" class="layui-nav-img">欢迎：{{ request.session.user_name }}</a>
                    </li>

                    <li class="layui-nav-item">
                         <a href="/logout/">注销</a>
                    </li>
            </ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<ul class="layui-nav layui-nav-tree">
						<li class="layui-nav-item"><a href="/personDate/">个人资料</a></li>
						<li class="layui-nav-item"><a href="/collection/">我的收藏</a></li>
						<li class="layui-nav-item layui-this"><a href="/searchHistory/">我的搜索记录</a></li>
						<li class="layui-nav-item"><a href="/dataAnalysis/">我的数据分析</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="layui-body" style="padding-top: 60px;background: #F9F9F9;">
			<table class="layui-table" id="history-data" lay-filter="history"></table>
		</div>
		<script src={% static "layui/layui.js" %}></script>
		<script src={% static "js/jquery-3.4.1.js" %}></script>
		<script>
			layui.use(['table', 'layer'], function() {
				var table = layui.table;
				var layer = layui.layer;
				var Search_history="{% url "Search_history"%}"
				table.render({
					elem: '#history-data',
					limit: 20,
					even: true,
					url: Search_history, //数据接口
                    success: function(data) {
					    alert(data)
                    },
					page: true, //开启分页iconfont.ttf
					cols: [
						[ //表头
							{
								field: 'title',
								title: '搜索历史',
								width: 200,
								fixed: 'left'
							}, {
								field: 'time',
								title: '搜索时间',
								width: 200,
								sort: true
							}, {
								field: 'url',
								title: '链接',
								templet: '<div><a href="{{d.url}}" class="layui-table-link">{{d.url}}</a></div>'
							}, {
								field: 'action',
								title: '操作',
								width: 200,
								fixed: 'right',
								templet: '<div><Button class="layui-btn  layui-btn-sm" lay-event="delete">删除</Button></div>'
							}
						]
					]
				});
				table.on('tool(history)', function(obj) {
					var data = obj.data;
					var layEvent = obj.event;
					if (layEvent === 'delete') {
						// 执行ajax删除
                        var delete_search="{% url  'delete_search' %}"
						$.ajax({
							url: delete_search,
							type: 'POST',
							data: data,
							success: function(data) {
								//删除成功
								if (data.message === 'ok') {
									obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
								}
								//删除失败
								if (data.message === 'error') {
								    alert(data.message)
									layer.msg('删除失败', {
										time: 2000
									});
								}
							},
							error: function() {
								layer.msg('接口错误404', {
									time: 2000
								});
							}
						});
					}
				});
			})
		</script>
	</body>
</html>
